
.color0 {
    /* color: green;
    font-size: 44px;
    background: #ff0000;
    border-radius: 22px;
    padding-left: 12px;
    padding-right: -12px;
    padding-top: 12px;
    padding-bottom: 12px; */
}
